.tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    
    &__btn {
        padding: 12px 24px;
        margin-right: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        
        &:not(.active) {
            background-color: #777;
        }
    }
}