<!-- <img [src]="user.picture.large" [alt]="user.name.first + ' ' + user.name.last" class="card__avatar">
        <p class="card__text">
            <strong>Name: </strong> <a [title]="user.name.first + ' ' + user.name.last" [routerLink]="['/user', user.login.password]">{{ user.name.first + ' ' + user.name.last }} </a>
        </p>
        <p class="card__text"><strong>ID:</strong> {{ user.login.password }}</p>
        <button class="btn card__btn">Add User</button> -->

        <p>couldn't make it work yet :/</p>